
.chat
    position: relative

    @include display-flex()
    @include flex-direction(column)


    .chat-info
        padding: $small_padding
        height: 20px

        dl
            margin: 0

            dt
                display: inline
                font-weight: bold
                padding-left: $small_padding

            dd
                display: inline
                margin: 0 0 0 $base_padding

    .chat-hidden
        display: none
        position: absolute
        right: $small_padding
        top: $small_padding
        font-size: .7rem
        padding: $small_padding
        cursor: pointer
        @include border-radius($small_padding)

        &:hover
            background-color: #AAC8FF
            color: #fff

    .content-wrapper
        margin: $small_padding
        z-index: 5
        overflow: hidden
        position: relative
        @include flex(auto)

        @import "chat/content"


    &.show-hidden
        .chat-hidden
            background-color: #AAC8FF

        .content li
            &.hidden, &.first-hidden
                height: auto

                .fold-icon
                    display: block

            &.hidden
                display: block

            &.first-hidden
                .message-wrapper
                    display: block

                .hidden-count
                    display: none

    .input-box
        border-top: $small_padding double #d5d5d5
        height: 25px
        width: 100%

        input
            padding: $small_padding 5px $small_padding
            display: block
            border: 0
            width: 100%
            -webkit-box-sizing: border-box
            -moz-box-sizing: border-box
            box-sizing: border-box
            @include border-bottom-left-radius($small_padding)
            @include border-bottom-right-radius($small_padding)

            &.animate
                animation: ma_ab2 .5s
                -webkit-animation: ma_ab2 .5s

        .sent
            display: none



@mixin ma_init_p()
    from
        box-shadow: 0 0 0 0 $base2_m3

    50%
        box-shadow: 0 0 20px $small_padding $base2_m3

    to
        box-shadow: 0 0 0 0 $base2_m3

@mixin ma_init($n)
    @keyframes ma_ab#{$n}
        @include ma_init_p()
    @-webkit-keyframes ma_ab#{$n}
        @include ma_init_p()


@include ma_init(1)
@include ma_init(2)


