
.user_info
    height: 10rem
    margin-top: $base_padding
    padding: $base_padding

    .content-wrapper
        height: 100%
        overflow: hidden
        position: relative

        .log
            margin: 0
            padding: 0
            position: absolute
            bottom: 0
            list-style: none
            width: 100%

            li
                padding: $small_padding $small_padding 2px
                @include border-radius(1px)

                &:nth-child(odd)
                    background-color: #f2f2f2

