@import "lib/normalize"
@import "vars"

.page-content
    padding: 1rem

    > .about
        margin: 3rem 0 0 2rem

        p
            margin: 0

        h1
            font-size: 1rem
            margin: 0

        .title
            font-weight: bold
            margin-bottom: 1em

        .info
            margin: 1em 0

            ul
                margin: 0


@import "debug"
