
$base1: #d6650f

$base2_0: #d7650f
$base2_1: #d7c90f
$base2_2: #80d70f
$base2_3: #1cd70f
$base2_4: #0fd765
$base2_5: #0fd7c9
$base2_6: #0f80d7
$base2_7: #0f1cd7
$base2_8: #650fd7
$base2_9: #c90fd7
$base2_10: #d70f80
$base2_11: #d70f1c
$base2_m1: #f18532
$base2_m2: #f5a76b
$base2_m3: #329ef1
$base2_m4: #6bb9f5


$base_padding: .5rem
$small_padding: .2rem

$footer-height: 20px
