{% extends "main.html" %}

{% block title %}
О проекте онлайн-квартирников, неофициального сайта Эльфище
{% endblock %}

{% block content %}
    <a class="back" href="/">Вернуться на заглавную страницу</a>
    <div class="about">
        <h1>Онлайн-квартирники Вячеслава Иванцова (Эльфище)</h1>
        <div class="content">
            <p>Общественный некоммерческий проект.</p>
            <p><a href="https://github.com/elfische-ru/source">Исходный код</a> открыт под лицензией <a href="http://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D1%8F_MIT">MIT</a>, содержание: <a class="c1" href="http://creativecommons.org/licenses/by/3.0/deed.ru">CC BY 3.0</a>.</p>
            <div class="contents">
                <p>Каждое мероприятие, в общих чертах, совмещает:</p>
                <ul>
                    <li><a href="http://ru.wikipedia.org/wiki/%D0%9A%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80%D0%BD%D0%B8%D0%BA">квартирник</a>,</li>
                    <li><a href="http://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%B2%D0%B5%D1%89%D0%B0%D0%BD%D0%B8%D0%B5">интернет-радио</a> трансляцию,</li>
                    <li>чат, встроенный в веб-страницу.</li>
                </ul>
            </div>
            <p>Всего пробыло проведено около 7 онлайн-квартирников, начиная, ориентировочно, с 2003 года.</p>
            <p>Максимальное число одновременных слушателей на сегодняшний день: до 150 человек.</p>
        </div>
    </div>
{% endblock %}
