{% extends "main.jinja2" %}


{% block css_files %}{% pagefiles 'css' %}
    home.css
{% endpagefiles %}{% endblock %}

{% block header_css_style %}
{% include "header_css_style.jinja2" %}
{% endblock %}


{% block js_files %}{% pagefiles 'js', 'extern' %}
    /_ah/channel/jsapi
    https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js
{% endpagefiles %}{% endblock %}

{% block js_files_static %}{% pagefiles 'js' %}
    lib/jquery.injectCSS
    lib/cssanimation.min
    lib/cssanimation.jquery.min
    generated/dev
    generated/i18n
    generated/chat
    generated/comm
    generated/mod
    generated/response
    generated/user_info
    generated/home
{% endpagefiles %}{% endblock %}


{% block title %}
{% trans %}Бисер — онлайн-квартирник Вячеслава Иванцова (Эльфище), 26.10.2013, Берлин{% endtrans  %}
{% endblock %}

{% block content %}
{% import 'blocks.jinja2' as blocks %}

{{ blocks.chat() }}

<div class="block fly">
    {# {{ blocks.main_info() }} #}
    {# {{ blocks.event() }} #}
    {# {{ blocks.user_info() }} #}
    {{ blocks.media() }}
</div>

{% endblock %}
