<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    {% if js_data %}
    <script>
        var JS_DATA = {{ js_data }};
    </script>
    {% endif %}
    {% block header_css_style %}{% endblock %}
    {% if header_files %}{{ header_files }}{% endif %}
    {% block js_files %}{% endblock %}
</head>
<body{% if is_mobile %} class="mobile"{% endif %}>
    <div class="page-wrapper">
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
    {% if not debug %}
        {% include "google_analytics.js.jinja2" %}
    {% endif %}
</body>
</html>
