<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    {% if js_data %}
    <script>
        var JS_DATA = {{ js_data }};
    </script>
    {% endif %}

    {% block css_files %}{% endblock %}
    {% block header_css_style %}{% endblock %}

    {% block js_files %}{% endblock %}
    {% block js_files_static %}{% endblock %}
</head>
<body{% if is_mobile %} class="mobile"{% endif %}>
    <div class="page-wrapper">
        {% block content %}{% endblock %}
    </div>
    {% if not debug %}
        {% include "google_analytics.js.jinja2" %}
    {% endif %}
</body>
</html>
